# Configuration and environment files
*.env
.env
backend/config/db.php
config.php

# Python virtual environment & cache (সব ফোল্ডারের জন্য)
**/venv/
**/__pycache__/
*.pyc

# IDEs & System files
.vscode/
.idea/
.DS_Store